---
import { Image } from "astro:assets"
import Image1 from "../../public/carrucel/1.png"
import Image3 from "../../public/carrucel/3.png"
import Image4 from "../../public/carrucel/4.png"
import Image6 from "../../public/carrucel/6.png"
---

<section
	class="top-10 my-5 flex flex-col gap-x-2 gap-y-2 border-t-2 border-primary font-medium text-primary md:flex-grow md:px-0 md:py-12 lg:py-10"
>
	<div
		class="top-10 my-5 flex snap-x snap-mandatory flex-col items-center justify-center gap-x-2 gap-y-2 font-medium text-primary md:flex-grow md:px-0 md:py-12 lg:py-10"
	>
		<span class="uppercase">A lo Bombo y Caja 2023</span>
	</div>
	<div class="relative">
		<!-- Contenedor del carrusel -->
		<div class="relative h-40 w-full snap-x snap-mandatory md:h-64">
			<!-- Imágenes del carrusel -->
			<div class="inset-y-0 flex snap-x snap-mandatory space-x-4">
				<div class="image h-40 w-64">
					<Image src={Image1} alt="Imagen 1" class="h-full w-full rounded-lg object-cover" />
				</div>

				<div class="image h-40 w-64">
					<Image src={Image4} alt="Imagen 3" class="h-full w-full rounded-lg object-cover" />
				</div>
				<div class="image h-40 w-64">
					<Image src={Image3} alt="Imagen 3" class="h-full w-full rounded-lg object-cover" />
				</div>
				<div class="image h-40 w-64">
					<Image src={Image6} alt="Imagen 3" class="h-full w-full rounded-lg object-cover" />
				</div>
			</div>
		</div>
	</div>
</section>
